<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Main Nav </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a (click)="homeFunc($event)">HomeForm</a></li>
        <li><a (click)="searchFunc($event)">Search</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
             <li><a href="#">Save</a></li>
             <li><a href="#">Save</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
