<form [formGroup]="searchGroup">
  <div class="container">
  <input type="text"
           class="form-control"
           placeholder="Enter search string"
           formControlName = "localInput"
           >
           <!--Note that the search string is passed along using the template ref variable
          template ref variable takes precedence over the component var always
          -->

  <button type="button"
          class="btn btn-primary"
          [disabled]="searchGroup.value.valid">Search
  </button>
        </div>
</form>

<div class="container">
  <div *ngIf="loading">
    <!--we can show an animated gif/ or anything else to load
    For now we just show the text and once loading is completed we can set that booolean to false  -->
    <p>Loading...</p>
  </div>

  <div *ngIf= "loading">

    <li *ngFor="let pp of promoList | customAscendingArrayByNameSort">
      <span>{{pp.id}} and its corresponding name is {{pp.name}}</span>
    </li>
  </div>
</div>
