<form [formGroup]='formData'
      (ngSubmit)='onSubmit()'
      >

    <div class="container">
  <!-- Output comment -->
  <div class="card card-block">
    <pre class="card-text">{{ formData.value.comment }}</pre>
  </div>
  <p class="small">{{ formData.value.lastUpdateTS }}</p>

  <!-- Comment text area -->
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea class="form-control"
              formControlName="localComment"
              rows="3"></textarea>
    <small class="form-text text-muted">
           <span>{{ 100 - formData.value.localComment.length }}</span> characters left
    </small>
  </div>

  <!-- Email input -->
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email"
           class="form-control"
           formControlName="localEmail"
           placeholder="Enter email"

           (keyup)="OnKeyBoardEvent($event)"
           (click)="OnMouseClick(formData.value)">
    <small class="form-text text-muted">
           We'll never share your email with anyone else.
    </small>
  </div>


  <!-- Name input -->
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
           class="form-control"
           formControlName="localName"
           placeholder="Enter name">
  </div>

  <div>
    <span>Last time form is update is {{lastUpdTs}}</span>
  </div>
  <!-- Email input -->
  <!-- <div class="form-group">
    <label for="email">Email address</label>
    <input type="email"
           class="form-control"
           formControlName="email"
           placeholder="Enter email">
    <small class="form-text text-muted">
           We'll never share your email with anyone else.
    </small>
  </div> -->

  <button type="submit"
          class="btn btn-primary"
          [disabled]="formData.value.valid"
          (click)="onSubmit()">Submit
  </button>
        </div>
</form>
